[user]
	name = Abhiram
	email = damod.d77@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[core]
	excludesFile = /home/apollo/.gitignore_global
